<div class="jumbotron">
  <p class="lead">
    <img src="images/profile.jpeg" alt="I'm Aninoy"><br>
  </p>
  <h1>Aninoy Mahapatra</h1>
</div>

<div class="row marketing">
  <h4>Current Projects</h4>
  <p>
    Automated Fake News Detection
  </p>

  <h4>Past Work</h4>
  <p>
    <a target="_blank" href="https://play.annenberglab.com/play2.0">Play!</a>, <a target="_blank" href="https://www.fanalytica.ai">Fanalytica</a>, Philips Electronics
  </p>

  <h4>Research Interests</h4>
  <p>Natural Language Processing, Neural Networks</p>
</div>
